
<!DOCTYPE html>
<html lang="pl">
			
	<head>	
		<title>GitHub Issues</title>
		<meta charset="UTF-8">
		<meta name="author" content="Aleksandra Łozińska">
		<link href="../static/style/index.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
		<script src="https://code.jquery.com/jquery-1.12.0.js"></script>
		<script src="../scripts//index.js" async></script>
	</head>
	<body>
		<div class = "page">

			<div class = "container">

				<div class="sidebar"> 

					<div class = "controls">
						<div class="controls__item controls__item--red"></div>
						<div class="controls__item controls__item--yellow"></div>
						<div class="controls__item controls__item--green"></div>
					</div>

					<div class="filters"></div> 

					<nav class="nav">	
						<div class="nav__filter filter">
							<div>
								<img class="filter__img" src="../static/img/icon-github.svg">
								<a class="filter__link">All</a>
							</div>
							<p class="filter__quantity">12</p>
						</div> 

						<div class="nav__filter filter">
							<div>
								<img class="filter__img" src="../static/img/icon-open-issue.svg">
								<a class="filter__link">Open</a>
							</div>
							<p class="filter__quantity">4</p>
						</div>

						<div class="nav__filter filter">
							<div>
								<img class="filter__img" src="../static/img/icon-closed-issue.svg">
								<a class="filter__link">Closed</a>
							</div>
							<p class="filter__quantity">8</p>
						</div>
					</nav>
				</div>

				<div class ="frame">

					<div class="issues">
						<div class="issues__header">19-07-2016</div>
							<ul class= "issues__list">
								<li class="issues__item">
									<p class="issues__text">Page changes</p>
									<svg class="issues__btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="17" height="16" viewBox="0 0 17 16">
	  									<path class="issues__icon issues__icon--black" d="M8.500,0.000 L11.301,5.028 L16.999,6.112 L13.033,10.302 L13.753,16.000 L8.500,13.561 L3.247,16.000 L3.967,10.302 L0.001,6.112 L5.699,5.028 L8.500,0.000 "/>
									</svg>
								</li>

								<li class="issues__item">
									<p class="issues__text">Review of last issues</p>					
									<svg class="issues__btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="17" height="16" viewBox="0 0 17 16">
	  									<path class="issues__icon issues__icon--black" d="M8.500,0.000 L11.301,5.028 L16.999,6.112 L13.033,10.302 L13.753,16.000 L8.500,13.561 L3.247,16.000 L3.967,10.302 L0.001,6.112 L5.699,5.028 L8.500,0.000 "/>
									</svg>
								</li>
							</ul>
					</div>

					<div class="issues">
						<div class="issues__header">18-07-2016</div>
							<ul class= "issues__list">
								<li class="issues__item">
									<p class="issues__text"> Visual UI Update Review </p>
									<svg class="issues__btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="17" height="16" viewBox="0 0 17 16">
	  									<path class="issues__icon issues__icon--white" d="M8.500,0.000 L11.301,5.028 L16.999,6.112 L13.033,10.302 L13.753,16.000 L8.500,13.561 L3.247,16.000 L3.967,10.302 L0.001,6.112 L5.699,5.028 L8.500,0.000 "/>
									</svg>
								</li>

								<li class="issues__item">
									<p class="issues__text">Sidebar changes</p>
									<svg class="issues__btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="17" height="16" viewBox="0 0 17 16">
	  									<path class="issues__icon issues__icon--white" d="M8.500,0.000 L11.301,5.028 L16.999,6.112 L13.033,10.302 L13.753,16.000 L8.500,13.561 L3.247,16.000 L3.967,10.302 L0.001,6.112 L5.699,5.028 L8.500,0.000 "/>
									</svg>
								</li>
							</ul>
					</div>
					
					<div class="issues">
						<div class="issues__header">15-07-2016</div>
							<ul class= "issues__list">
								<li class="issues__item">
									<p class="issues__text">Crash Update</p>
									<svg class="issues__btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="17" height="16" viewBox="0 0 17 16">
	  									<path class="issues__icon issues__icon--white" d="M8.500,0.000 L11.301,5.028 L16.999,6.112 L13.033,10.302 L13.753,16.000 L8.500,13.561 L3.247,16.000 L3.967,10.302 L0.001,6.112 L5.699,5.028 L8.500,0.000 "/>
									</svg>
								</li>

								<li class="issues__item">
									<p class="issues__text">Page visual UI Update Review</p>
									<svg class="issues__btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="17" height="16" viewBox="0 0 17 16">
	  									<path class="issues__icon" d="M8.500,0.000 L11.301,5.028 L16.999,6.112 L13.033,10.302 L13.753,16.000 L8.500,13.561 L3.247,16.000 L3.967,10.302 L0.001,6.112 L5.699,5.028 L8.500,0.000 "/>
									</svg>
								</li>

								<li class="issues__item">
									<p class="issues__text">Sidebar update</p>
									<svg class="issues__btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="17" height="16" viewBox="0 0 17 16">
	  									<path class="issues__icon issues__icon--white" d="M8.500,0.000 L11.301,5.028 L16.999,6.112 L13.033,10.302 L13.753,16.000 L8.500,13.561 L3.247,16.000 L3.967,10.302 L0.001,6.112 L5.699,5.028 L8.500,0.000 "/>
									</svg>
								</li>
							</ul>
					</div>
							
					<div class="issues">
						<div class="issues__header">14-07-2016</div>
							<ul class= "issues__list">
								<li class="issues__item">
									<p class="issues__text">Crash Issue</p>
									<svg class="issues__btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="17" height="16" viewBox="0 0 17 16">
	  									<path class="issues__icon" d="M8.500,0.000 L11.301,5.028 L16.999,6.112 L13.033,10.302 L13.753,16.000 L8.500,13.561 L3.247,16.000 L3.967,10.302 L0.001,6.112 L5.699,5.028 L8.500,0.000 "/>
									</svg>
								</li>

								<li class="issues__item">
									<p class="issues__text">Visual update & Crash resolve</p>
									<svg class="issues__btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="17" height="16" viewBox="0 0 17 16">
	  									<path class="issues__icon" d="M8.500,0.000 L11.301,5.028 L16.999,6.112 L13.033,10.302 L13.753,16.000 L8.500,13.561 L3.247,16.000 L3.967,10.302 L0.001,6.112 L5.699,5.028 L8.500,0.000 "/>
									</svg>
								</li>

								<li class="issues__item">
									<p class="issues__text">Unknown content</p>
									<svg class="issues__btn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="17" height="16" viewBox="0 0 17 16">
	  									<path class="issues__icon" d="M8.500,0.000 L11.301,5.028 L16.999,6.112 L13.033,10.302 L13.753,16.000 L8.500,13.561 L3.247,16.000 L3.967,10.302 L0.001,6.112 L5.699,5.028 L8.500,0.000 "/>
									</svg>
								</li>
							</ul>
					</div>
							
					<div class="issues">
						<div class="issues__header">13-07-2016</div>
							<ul class= "issues__list">
								<li class="issues__item">Unknown content</li>
								<li class="issues__item">Unknown content</li>
								<li class="issues__item">Unknown content</li>
							</ul>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>
